.seeds {
    text-align: center;
    font-size: 2.1rem;
    color: var(--color-dark-green);
    font-weight: 500;
    margin: 6rem 0 12rem 0;
    padding: 0 6rem;
    max-height: 50rem;
    overflow-y: scroll;
    scroll-margin: 50rem;
}

@media (width<=768px) {
    .seeds {
        max-width: 100vw;
        padding: 0 2rem;
        margin: 4rem 0rem;
    }
}

.seeds p {
    text-align: center;
    margin: 2rem auto;
    opacity: 60%;
}

.seedsTable {
    margin: 2rem 0 30rem 0;
}

@media (width <=768px) {
    .seedsTable {
        max-width: 100vw;
    }
}

.seedsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 4rem;
    font-size: 1.6rem;
    padding: 2rem 0;
    border-top: 1px solid var(--color-dark-green);
}

@media (width <=768px) {
    .seedsRow {
        gap: 0;
        padding: 1.4rem 0;
        margin: 0;
    }
}


.seedsRow_Name {
    font-weight: 800;
    min-width: 16rem;
}

.seedsRow_Props {
    display: flex;
    flex: 2;
    gap: 1.8rem;

}

@media (width <=768px) {
    .seedsRow_Props {
        display: none;
    }
}

.seedsRow_Props_Item {
    font-weight: 700;
    color: #445f25;
    background-color: #DDF099;
    padding: 1rem 2rem;
}

.seedsRow_Options {
    display: flex;
}

.seedsRow_Options li {
    margin-left: 1.6rem;
    font-size: 1.5rem;
    color: var(--color-dark-green);
    text-decoration: underline;
    cursor: pointer;
}