.panel {
    background-color: var(--color-light);
    background-image: url('/index-background.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode:overlay;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

.panelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 120rem;
    gap: 6rem;
}

/*Estilos de cabecera: logo y párrafo de introducción*/
.panelContent_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panelContent_title img {
    margin: 3rem;
    max-width: 20rem;
}

.panelContent_title p {
    font-size: 1.8rem;
    max-width: 50rem;
    text-align: center;
}

@media (width <=768px) {
    .panelContent {
        gap: 2rem!important;
    }
   
    .panelContent_title {
        align-items: flex-start;
        margin: 0 2rem;
    }

    .panelContent_title img {
        margin: 3.2rem 0 1.5rem 0;
        max-width: 13.6rem;
    }

    .panelContent_title p {
        text-align: left;
        font-size: 1.6rem;
    }
}


/*Estilos panel CALENDARIO*/
.panelContent_Calendar {
    background-color: var(--color-light);
    border-radius: 4rem;
    -webkit-box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    -moz-box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    max-width: 60rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.panelContent_Calendar_Moon {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31rem;
}

.panelContent_Calendar_Moon img {
    width: 13.4rem;
    margin-bottom: 2rem;
}

.panelContent_Calendar_Moon p {
    color: var(--color-dark-green);
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
}

.panelContent_Calendar_Moon hr {
    background-color: var(--color-dark-green);
    width: 100%;
    size: 1px;
    margin: 2.5rem 0;
}

.panelContent_Calendar_Moon h3 {
    font-size: 3.8rem;
    color: var(--color-dark-green);
    font-weight: 800;
}

.panelContent_Calendar_Tasks {
    flex: 1;
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panelContent_Calendar_Tasks h3 {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 0.2rem;
    color: var(--color-dark-green);
}

.panelContent_Calendar_Tasks p {
    font-size: 1.6rem;
    text-align: left;
    color: var(--color-dark-green);
}

.panelContent_Calendar_Tasks ul {
    padding-top: 2rem;
}

.panelContent_Calendar_Tasks li {
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    color: var(--color-dark-green);
    background-color: #00ff8470;
    margin-bottom: 1.5rem;
    padding: 0.5rem 2rem;
}

.panelContent_Calendar_Tasks a {
    color: var(--color-dark-green);
    font-size: 1.6rem;
    text-align: right;
    text-decoration: underline;
}

.panelContent_Calendar_Tasks a:hover {
    font-weight: 800;
}

@media (width <=768px) {
    .panelContent_Calendar {
        flex-direction: column;
        margin: 0;
        padding: 3rem 3rem;
        gap: 2rem;
    }

    .panelContent_Calendar_Moon {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        line-height: 3.2rem;
        gap: 2rem;
    }

    .panelContent_Calendar_Moon img {
        max-width: 7rem;
        margin: 0;
    }

    .moonPhase {
        display: none;
    }

    .date {
        display: flex;
        flex-direction: column;
    }

    .date h3 {
        font-size: 2.8rem;
    }

    .date p {
        font-size: 1.6rem;
    }

    .date hr {
        display: none;
    }

    .divisor {
        width: 100%;
        size: 5px;
        color: var(--color-dark-green);
        margin: 0;
        padding: 0;
    }

    .panelContent_Calendar_Tasks {
        width: 100%;
        justify-content:flex-start;
        margin:0;
        padding:0;
    }

    .panelContent_Calendar_Tasks div {
        display: none;
    }

    .panelContent_Calendar_Tasks ul {
        padding: 0;
    }

    .panelContent_Calendar_Tasks a {
        text-align: center;
        margin-top: 1.2rem;
    }
}

