.mainHeader {
    padding: 3rem 0;
    position: absolute;
    z-index: 1;
}

.panel {
    background-color: var(--color-light);
    background-image: url('/index-background.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    max-width: 120rem;
    min-height: 100vh;
    gap: 8rem;
}

.panelContent_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panelContent_title img {
    margin: 3rem;
    max-width: 20rem;
}

.panelContent p {
    font-size: 1.8rem;
    max-width: 50rem;
    text-align: center;
}

.panelContent_Calendar {
    background-color: var(--color-light);
    border-radius: 4rem;
    -webkit-box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    -moz-box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    box-shadow: 0px 4px 5.8px 0px rgba(16, 36, 35, 0.7);
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.panelContent_Calendar_Moon {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31rem;
}

.panelContent_Calendar_Moon img {
    width: 13.4rem;
    margin-bottom: 2rem;
}

.panelContent_Calendar_Moon p {
    color: var(--color-dark-green);
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
}

.panelContent_Calendar_Moon hr {
    background-color: var(--color-dark-green);
    width: 100%;
    height: 1px;
    margin: 2.5rem 0;
}

.panelContent_Calendar_Moon h3 {
    font-size: 3.8rem;
    color: var(--color-dark-green);
    font-weight: 800;
}

.panelContent_Calendar_Tasks {
    flex: 1;
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panelContent_Calendar_Tasks h3 {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 0.2rem;
    color: var(--color-dark-green);
}

.panelContent_Calendar_Tasks p {
    font-size: 1.6rem;
    text-align: left;
    color: var(--color-dark-green);
}

.panelContent_Calendar_Tasks li {
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    color: var(--color-dark-green);
    background-color: #00ff8470;
    margin-bottom: 1.5rem;
    padding: 0.5rem 2rem;
}

.panelContent_Calendar_Tasks a {
    color: var(--color-dark-green);
    font-size: 1.6rem;
    text-align: right;
    text-decoration: underline;
}

.panelContent_Calendar_Tasks a:hover {
    font-weight: 800;
}

.panelContent_appioMenu {
    position: sticky;
    bottom: 0;
    background-color:  var(--color-dark-green);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    gap: 3.8rem;
    -webkit-box-shadow: 0px -14px 35px 0px rgba(18, 41, 37, 0.38);
    -moz-box-shadow: 0px -14px 35px 0px rgba(18, 41, 37, 0.38);
    box-shadow: 0px -14px 35px 0px rgba(18, 41, 37, 0.38);
}

.panelContent_appioMenu_button {
    background-color: #154738;
    border-radius: 2.3rem;
    width: 11.7rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px -3px 18px 0px rgba(18,41,37,0.38);
    -moz-box-shadow: 0px -3px 18px 0px rgba(18,41,37,0.38);
    box-shadow: 0px -3px 18px 0px rgba(18,41,37,0.38);
}

.panelContent_appioMenu_button a {
    color: var(--color-fluor-green);
    font-size: 1.6rem;
    text-align: center;
}