* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  --font-family: 'Supreme', sans-serif;
  --title-font-family: 'Bespoke Stencil', sans-serif;
  --color-light: #E6E5CE;
  --color-dark-green: #122925;
  --color-fluor-green: #00FF85;
  --color-red: #DE1D20;
  --effect-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}